@model smart_home_web.Models.SensorViewModel.CreateSensorViewModel

@if (User.Identity.IsAuthenticated)
{

    <form method="post" id="modal-form-create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label"></label>
            <input asp-for="@Model.Name" class="form-control" placeholder="Enter name please" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Comment" class="control-label"></label>
            <input asp-for="@Model.Comment" class="form-control" placeholder="Enter comment please" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="@Model.SensorTypeId" class="form-control" required>
                <option value="@String.Empty">Select type</option>
                @foreach (var sensortType in ViewBag.SensorTypes)
                {
                    <option class="form-control" value="@sensortType.Id">@sensortType.Name</option>
                }
            </select>
            <span asp-validation-for="SensorTypeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.IsActive" class="control-label">Activate</label>
            <input asp-for="@Model.IsActive" class="checkbox-inline" type="checkbox" data-toggle="toggle" data-on="Activated" data-off="Disabled">
        </div>

        <div class="form-group">
            <label asp-for="@Model.IconFile" class="control-label"></label>
            <input class="form-control modal-form-file" asp-for="@Model.IconFile" onchange="loadFile(event)" type="file" accept=".jpg, .jpeg, .png" />
            <img class="img-rounded" id="output" width="64" height="64" style="visibility: hidden" />
        </div>

        <input hidden asp-for="@Model.AppUserId" value="@ViewBag.loggedUserId" />
        <input hidden asp-for="@Model.Token" value="@Guid.NewGuid()" />
        <input hidden asp-for="@Model.CreatedOn" value="@DateTimeOffset.Now" />

        <div class="form-group">
            <input type="submit" value="AddSensor" class="btn btn-success" />
            <a class="btn btn-primary back-to-list">Back to List</a>
        </div>

    </form>

    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
                output.style.visibility = "visible";
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>


}
else
{
    <h2 class="text-danger">You don't have permissions for this! Log in first</h2>
}


