@model smart_home_web.Models.ReportElements.ReportElementViewModel;
@using Domain.Core.Model.Enums

<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
@if (Model.IsCorrect)
{
    <figure class="highcharts-figure-wordcloud" width="100%" height="100%">
        <div id=@("Wordcloud"+Model.Id.ToString()) width="100%" height="100%"></div>
    </figure>
<script>

    values = JSON.parse('@Html.Raw(Json.Serialize(@Model.Values))')
    data = Highcharts.reduce(values, function (arr, word) {
    var obj = Highcharts.find(arr, function (obj) {
        return obj.name === word;
    });
    if (obj) {
        obj.weight += 1;
    } else {
        obj = {
            name: word,
            weight: 1
        };
    arr.push(obj);
    }
    return arr;
    }, []);

    Highcharts.chart("Wordcloud"+JSON.parse('@Html.Raw(Json.Serialize(@Model.Id.ToString()))'), {
        title: {
            text: 'Word cloud for ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorName))') + ' for ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.DashboardName))')
        },
        tooltip: {
            useHTML: true,
            @if (Model.MeasurementType == MeasurementType.Int || Model.MeasurementType == MeasurementType.Double)
            {
                <text>
                    headerFormat: '<span style="font-size: 12px">{point.key} </span>' + JSON.parse('@Html.Raw(Json.Serialize(@Model.MeasurementName))') + '<br />',
                </text>
            }
            else
            {
                <text>
                    headerFormat: '<span style="font-size: 12px">{point.key} </span>' + '<br />',
                </text>
            }
            },
        series: [{
            type: 'wordcloud',
            data: data,
            name: 'Periodicity',
        }],
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false,
                }
            }
        },
    });
    </script>

}
else
{
    <label id=@("Wordcloud"+Model.Id.ToString()) class="control-label graph-label">There is no history measurement for such sensor for that period of time. <a class="btn btn-success text-center" asp-controller="ReportElement" asp-action="EditReportElement" asp-route-id="@Model.Id"><i class="fas fa-cog"></i></a></label>
}
<script>
    $('body').on('gsresizestop', '.grid-stack', function (event, ui) {
        var type = 'Wordcloud';
        var result = Highcharts.charts.find(chart => chart.renderTo.id == (type + ui.id).toString());
        if (typeof result !== 'undefined') {
            result.setSize(ui.height, ui.width);
        }
    });
</script>
