@{
    Layout = "_DashboardLayout";
}
@using smart_home_web.Models.Dashboard;
@using smart_home_web.Components;
@model DashboardViewModel;


<div class="app-main">
    <div class="app-main__outer">
        <div class="app-inner-layout app-inner-layout-page">
            <div class="app-inner-layout__content">
                <div class="app-header">
                    <div class="page-title-heading">
                        @Model.Name
                        <a class="btn text-center"
                           asp-controller="ReportElement"
                           asp-action="CreateReportElement"
                           asp-route-dashboardId="@Model.Id">
                            <i class="pe-7s-plus fsize-3" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
                <div class="grid-stack" data-save-url="@Url.Action("UpdateOptions", "DashboardOptions")">
                    @foreach (var report in Model.ReportElements)
                    {
                        <div id="@report.Id" class="grid-stack-item d-flex flex-column"
                             data-identifier="@report.Id" data-locked="@report.IsLocked"
                             data-gs-min-height="6" data-gs-min-width="4"
                             data-gs-width="@report.Width" data-gs-height="@report.Height"
                             data-gs-x="@report.X" data-gs-y="@report.Y">
                            <div class="grid-stack-item-content card">
                                <div class="d-flex flex-row">
                                    <div class="text-center btn-control-icon report-button text-center" onclick=remove(@report.Id)>
                                        <span><i class="fas fa-times"></i></span>
                                    </div>
                                    @if (report.Type != Domain.Core.Model.Enums.ReportElementType.StatusReport)
                                    {
                                        <div class="text-center btn-control-icon text-center">
                                            <a asp-controller="ReportElement" asp-action="EditReportElement" asp-route-id="@report.Id"><i class="fas fa-cog report-button"></i></a>
                                        </div>
                                    }

                                    <div class="text-center btn-control-icon text-center" onclick=lock(@report.Id)>
                                        <i class="fas report-button i-button"></i>
                                    </div>
                                </div>
                                <div>@await Component.InvokeAsync(report.Type.ToString(), new { reportElementId = report.Id })</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>