@model smart_home_web.Models.ReportElements.CreateReportElementViewModel;
@{
    ViewData["Title"] = "Create Report Element";
}

<link href="~/lib/nice-select/dist/css/nice-select.css" rel="stylesheet" />

<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-header header-button-move-up">
                <div class="page-title-heading">
                    Create new report element
                </div>
            </div>
            <div class="app-inner-layout app-inner-layout-page">
                <div class="app-inner-layout__wrapper">
                    <div class="app-inner-layout__content" style="padding-top: 0px">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="row" data-save-url="@Url.Action("GetSensorsByReportElementType", "Sensor")" data-save-dashboardid="@Model.DashboardId">

                                    <div class="w-50 ml-5">

                                        <form asp-action="CreateReportElement" asp-controller="ReportElement" method="post">

                                            <div asp-validation-summary="All" class="text-danger"></div>

                                            <div class="form-group">
                                                <input type="hidden" asp-for="@Model.DashboardId" value="@Model.DashboardId" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Select report element type:</label>
                                                <div style="margin-bottom:50px">
                                                    <select id="type-select" asp-for="Type" asp-items="Html.GetEnumSelectList<Domain.Core.Model.Enums.ReportElementType>()" class="nice-select wide"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Select report element type:</label>
                                                <div style="margin-bottom:50px">
                                                    <select id="sensor-select" asp-for="SensorId" class="nice-select wide"></select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">
                                                    Select measurement period:
                                                </label>

                                                <div>
                                                    <select asp-for="Hours" id="hours-select" asp-items="Html.GetEnumSelectList<Domain.Core.Model.Enums.ReportElementHours>()" class="nice-select wide"></select>
                                                </div>
                                            </div>

                                            <div class="form-group text-center" 
                                                 style="margin-top:70px">
                                                <button id="create-report-element"
                                                        type="submit"
                                                        value="Create"
                                                        class="mb-2 mr-2 btn-icon btn btn-success">
                                                    <i class="pe-7s-plus btn-icon-wrapper"> </i>Success
                                                </button>
                                                <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@Model.DashboardId" class="mb-2 mr-2 btn btn-primary"><i class="pe-7s-back btn-icon-wrapper fsize-1"></i> Back to dashboard</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/nice-select/dist/js/jquery.nice-select.min.js"></script>
    <script src="~/js/create-report-element.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
