@model smart_home_web.Models.ReportElements.CreateReportElementViewModel;
@{
    ViewData["Title"] = "Create Report Element";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/nice-select/dist/css/nice-select.css" rel="stylesheet" />

<body>
    <div class="row" data-save-url="@Url.Action("GetSensorsByReportElementType", "Sensor")">

        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12">
            <div class="text-center">
                <label style="font-size:20px">Create new report element</label>
            </div>
            <form asp-action="CreateReportElement" asp-controller="ReportElement" method="post">

                <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>

                <div class="form-group">
                    <input type="hidden" asp-for="@Model.DashboardId" value="@Model.DashboardId" />
                </div>
                <div class="form-group col-lg-6 col-lg-offset-3">
                    <label class="control-label">Select report element type:</label>
                    <div style="margin-bottom:50px">
                        <select id="type-select" asp-for="Type" asp-items="Html.GetEnumSelectList<Domain.Core.Model.Enums.ReportElementType>()" class="nice-select wide">
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-lg-offset-3">
                    <label class="control-label">Select report element type:</label>
                    <div style="margin-bottom:50px">
                        <select id="sensor-select" asp-for="SensorId" class="nice-select wide">
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-lg-offset-3">
                    <label class="control-label">
                        Select measurement period:
                    </label>
                    <div>
                        <select asp-for="Hours" asp-items="Html.GetEnumSelectList<Domain.Core.Model.Enums.ReportElementHours>()" class="nice-select wide">
                            
                        </select>
                    </div>
                </div>

                <div class="form-group text-center col-lg-6 col-lg-offset-3" style="margin-top:30px">
                    <input type="submit" value="Create" class="btn btn-success text-center" style="width:20%" />
                    <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@Model.DashboardId" class="btn btn-primary"><em class="glyphicon glyphicon-arrow-left"></em> Back to dashboard</a>
                </div>
            </form>
        </div>
    </div>

</body>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/nice-select/dist/js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function () {
        $('select').niceSelect();
        function get() {
            $.ajax({
                    type: "Get",
                    url: $(".row").data("save-url"),
                    data: { type: $("select#type-select").children("option:selected").val(), dashboardId: @(Model.DashboardId)},
                    success: function (res) {
                        $('#sensor-select').empty()
                        $.each(res, function (key, value) {
                            $('#sensor-select')
                                .append($("<option></option>")
                                    .attr("value", value.id)
                                    .text(value.name));
                        });
                        $('select').niceSelect('update');
                        
                    },
                    error: function () {
                        $('#sensor-select').empty()
                            $('#sensor-select')
                                .append($("<option></option>")
                                .attr("disabled", true)
                                .attr("selected", true)
                                .text("There is not suitable sensor"));
                        $('select').niceSelect('update');
                        
                    }
                });
            }
        get();
        $("select#type-select").change(function () {
            get();
        });
        });
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}