@model smart_home_web.Models.ReportElements.EditReportElementViewModel;
@{
    ViewData["Title"] = "Edit Report Element";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/nice-select/dist/css/nice-select.css" rel="stylesheet" />

<body>
    <div class="row" data-save-url="@Url.Action("GetSensorsByReportElementType", "Sensor")">

        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12">
            <div class="text-center">
                <label style="font-size:20px">Edit @Model.Type for @Model.SensorName for @Model.DashboardName</label>
            </div>
            <form asp-action="EditReportElement" asp-controller="ReportElement" method="post">

                <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DashboardId" value="@Model.DashboardId" />
                </div>
                <div class="form-group">
                    <input id="sensor-id" type="hidden" value="@Model.SensorId" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Type" value="@Model.Type" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="X" value="@Model.X" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Y" value="@Model.Y" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Width" value="@Model.Width" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Height" value="@Model.Height" />
                </div>
                <div class="form-group">
                    <input type="hidden" disabled="disabled" asp-for="SensorName" value="@Model.SensorName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Dashboard name: </label>
                    <input type="text" disabled="disabled" asp-for="DashboardName" value="@Model.DashboardName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Report element type: </label>
                    <input id="sensor-name" type="text" disabled="disabled" asp-for="Type" value="@Model.Type" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Select sensor name:</label>
                    <div style="margin-bottom:50px">
                        <select id="sensor-select" asp-for="SensorId" class="col-lg-4 col-md-5 col-sm-6 col-xs-12"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Select measurement period:
                    </label>
                    <div style="margin-bottom:50px">
                        <select asp-for="Hours" asp-items="Html.GetEnumSelectList<Domain.Core.Model.Enums.ReportElementHours>()" class="nice-select col-lg-4 col-md-5 col-sm-6 col-xs-12"></select>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success text-center" style="width:20%" />
                    <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@Model.DashboardId" class="btn btn-primary"><em class="glyphicon glyphicon-arrow-left"></em> Back to dashboard</a>
                </div>
            </form>
        </div>
    </div>

</body>
@section Scripts {
    <script src="~/lib/nice-select/dist/js/jquery.nice-select.min.js"></script>
    <script>
       $(document).ready(function (){
           $('select').niceSelect();
           $.ajax({
                type: "Get",
                url: $(".row").data("save-url"),
                data: { type: $("input#sensor-name").val(), dashboardId: @(Model.DashboardId)},
                success: function (res) {
                    $('#sensor-select').empty()
                    $.each(res, function (key, value) {
                        $('#sensor-select')
                            .append($("<option></option>")
                                .attr("value", value.id)
                                .text(value.name));
                    });
                    $('#sensor-select').val($('#sensor-id').val());
                    if ($('#sensor-select').children().length == 0) {
                             $('#sensor-select')
                                .append($("<option></option>")
                                    .attr("disabled", true)
                                    .attr("selected", true)
                                    .text("There is not suitable sensor"));
                        }
                    $('select').niceSelect('update');
                },
                error: function (res) {
                    console.log(res);
                },
           });
        });

    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}