@model smart_home_web.Models.Dashboard.DashboardViewModel


@*<div class="col-lg-3 dash_id h-100 " data-dash-id="@Model.Id.ToString()">
    <div class="text-center p-2 h-100 d-flex flex-column justify-content-between" style="width: 18rem;">
        <div>
            @if (User.Identity.IsAuthenticated && User.Claims.ElementAt(1).Value == Model.DashCreatorUserName)
            {
                <a href="#" class="dash_remove float-right"
                   data-dash-url="@Url.Action("Delete", "Dashboard")">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            }
            <img class="card-img-top m-2" src="https://miro.medium.com/max/3440/0*8UNAgR_1_4SMV4BY.png" alt="Card image cap">
            <h3 class="d-inline name_header" style="word-wrap: break-word;">@Model.Name </h3>

        </div>
        <div>
            @if (User.Identity.IsAuthenticated && User.Claims.ElementAt(1).Value == Model.DashCreatorUserName)
            {
                <div class="dash_name_edit mb-2" style="display:none;">
                    <form data-dash-url="@Url.Action("Edit", "Dashboard")" method="post" class="form_edit_name">
                        <input class="form_dash_name" placeholder="Enter name" size="15" maxlength="35" required value="@Model.Name" />
                        <button type="submit" class="dash_edit d-inline">
                            <span class="glyphicon glyphicon-ok dash_icon"></span>
                        </button>
                    </form>
                </div>

                <div class="dash_name m-2">
                    <a href="#" class="d-inline">
                        <span class="glyphicon glyphicon-pencil dash_icon"></span>
                    </a>
                    <br />
                </div>
            }
            <div>
                <p>
                    <span class="badge badge-light">@Model.ReportElements.Count()</span> report element @(Model.ReportElements.Count() != 1 ? "s" : "")
                </p>
            </div>
        </div>

        <div class="m-3">
            <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary dash_open">OPEN</a>
        </div>
    </div>
</div>*@

<div class="mb-3 card dash_id" data-dash-id="@Model.Id.ToString()">

    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon pe-7s-monitor mr-3"> </i>
            @Model.Name
        </div>
        <div class="btn-actions-pane-right actions-icon-btn">
            @if (User.Identity.IsAuthenticated && User.Claims.ElementAt(1).Value == Model.DashCreatorUserName)
            {
                <a href="#" class="dash_remove float-right"
                   data-dash-url="@Url.Action("Delete", "Dashboard")">
                    <span class="fas fa-times mr-1 fsize-2"> </span>
                </a>
                <a href="#" class="d-inline dash_remove float-right">
                    <span class="fas fa-pen dash_icon mr-1 fsize-1"> </span>
                </a>
            }
        </div>
    </div>
    <img class="card-img-top" style="border-radius: 0" src="https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
    <div class="widget-chart widget-chart2 text-left p-0">
        <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content widget-chart-content-lg">
                <div class="widget-chart-flex">
                    <div class="widget-title opacity-5 text-muted text-uppercase">
                        report elements
                    </div>
                </div>
                <div class="widget-numbers ml-3">
                    <div class="widget-chart-flex">
                        @Model.ReportElements.Count()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-0 pb-0 card-body">
    </div>
    <div class="d-block text-right rm-border card-footer">
        <a asp-controller="Dashboard" asp-action="Detail" asp-route-id="@Model.Id" class="text-uppercase btn btn-primary dash_open">
            View dashboard
            <span class="text-white pl-2 opacity-3">
                <i class="fa fa-arrow-right"></i>
            </span>
        </a>
    </div>
</div>