@using smart_home_web.Models.ControlSensor
@model List<SensorControlViewModel>
<link href="~/css/control.css" rel="stylesheet" />
@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@


<div class="container">
    <div class="row">

    </div>
</div>


<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-header">
                <div class="page-title-heading">
                    Controllers
                    <div class="page-title-subheading opacity-10">
                        <a asp-action="Add" class="btn btn-primary">Add new</a>
                    </div>
                </div>
            </div>
            <div class="app-inner-layout app-inner-layout-page">
                <div class="app-inner-layout__wrapper">
                    <div class="app-inner-layout__content pt-1">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-2 col-md-4 mb-4" id="hide_@item.Id">
                                            <div class="card">
                                                <div class="card-body">
                                                    <a id="@item.Id" onclick="remove(@item.Id)" class="link pull-right ml-3" data-request-url="@Url.Action("Delete", "SensorControl")">
                                                        <i class="pe-7s-close report-button"></i>
                                                    </a>
                                                    <a asp-action="Edit" asp-controller="SensorControl" asp-route-Id="@item.Id" class="pull-right">
                                                        <i class="pe-7s-config report-button"></i>
                                                    </a>
                                                    <form method="post">
                                                        <input type="hidden" name="id" value="@item.Id" />
                                                        <img src="https://t4.ftcdn.net/jpg/02/27/91/35/240_F_227913547_rHRaLadM6Wj2BtfS5Tu555SSjI7xB33s.jpg" class="card-img-center" width="60" height="60" />
                                                        <h1 class="card-title text-center">@item.Name</h1>

                                                        <button id="btn_@item.Id" type="submit" onclick="set_active(@item.Id)" data-request-url="@Url.Action("Change", "SensorControl")" class="btn btn-lg btn-toggle bottom @(item.IsActive ? "active" : "")" data-toggle="button" aria-pressed="@(item.IsActive ? "true" : "false")">
                                                            <div class="handle"></div>
                                                        </button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/lib/nice-select/dist/js/jquery.nice-select.min.js"></script>
<script src="~/js/ToggleRequest.js"></script>
