@using smart_home_web.Models.ControlSensor
@model List<SensorControlViewModel>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-header header-button-move-up">
                <div class="page-title-heading">
                    Controllers
                    <div class="page-title-subheading opacity-10">
                        <a asp-action="Add" class="btn btn-primary">Add new</a>
                    </div>
                </div>
            </div>
            <div class="app-inner-layout app-inner-layout-page">
                <div class="app-inner-layout__wrapper">
                    <div class="app-inner-layout__content pt-1">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {<div class="col-lg-2" id="hide_@item.Id">
                                            <div class="card-hover-shadow-2x mb-3 card">
                                                <div class="card-header">
                                                    @item.Name
                                                    <a asp-action="Edit" asp-controller="SensorControl" asp-route-Id="@item.Id" class="ml-auto mr-1">
                                                        <i class="pe-7s-config report-button" style="font-size:20px; margin-right:-5px"></i>
                                                    </a>
                                                    <a id="@item.Id" class="link" onclick="remove(@item.Id)" data-request-url="@Url.Action("Delete", "SensorControl")">
                                                        <i class="pe-7s-close report-button" style="font-size:30px; padding:0px"></i>
                                                    </a>
                                                </div>
                                                <div class="card-body d-flex flex-column align-items-center">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <img src="https://t4.ftcdn.net/jpg/02/27/91/35/240_F_227913547_rHRaLadM6Wj2BtfS5Tu555SSjI7xB33s.jpg" class="card-img-center" width="120" height="120" />
                                                    <div class="input-set-active
                                                         edit_@item.Id
                                                                 @Html.Raw(item.IsActive ? "toggle-shadow" : " ")"
                                                         id="@item.Id"
                                                         style="width:57px"
                                                         data-request-url="@Url.Action("Change", "SensorControl")"
                                                         data-active="@Html.Raw(item.IsActive ? "active" : "inactive")">
                                                        <input type="checkbox"
                                                               @Html.Raw(item.IsActive ? "checked" : " ")
                                                               data-toggle="toggle">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




<script>

    $(".input-set-active").on("click", function () {
        $(this).toggleClass("toggle-shadow");
        var isActive;
        var item = $(".edit_" + this.id);
        isActive = item.data("active") == "active";
        $.ajax({
            url: "@Url.Action("Change", "SensorControl")",
            data: { 'id': this.id, 'isActive': !isActive },
            type: "post",
            cache: false,
            success: function (savingStatus) {
                item.data("active") = !isActive ? "active" : "inactive";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert("Error encountered while sending request");
                console.log(thrownError);
            }
        });
    });


    function remove(clicked_id) {
        var url = $('.link').attr('data-request-url');
        $("#hide_" + clicked_id).hide(function () {

        });
        debugger;
        $.ajax({
            url: url,
            data: { 'id': clicked_id },
            type: "post",
            cache: false,

            success: function (savingStatus) {

            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert("Error encountered while sending request");
                console.log(thrownError);
            }
        });
    }
</script>