@model smart_home_web.Models.ReportElements.ReportElementViewModel;
@using Domain.Core.Model.Enums

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



@if (Model.IsCorrect)
{
    <figure class="highcharts-figure">
        <div id="columnrange_container"></div>
    </figure>
}
else
{
    <label class="control-label graph-label">There is no history measurement for such sensor for that period of time.</label>
}

<script>

    minvalues = JSON.parse('@Html.Raw(Json.Serialize(@Model.MinValues))');
    maxvalues = JSON.parse('@Html.Raw(Json.Serialize(@Model.MaxValues))');
    dates = JSON.parse('@Html.Raw(Json.Serialize(@Model.Dates))');

    let temperatures = [];

    for (let i = 0; i < dates.length;i++) {
        temperatures.push([minvalues[i],maxvalues[i]])
    }
    Highcharts.chart('columnrange_container', {
        chart: {
            events: {
                load: function () {

                    var chart = this,
                        renderer = chart.renderer;
                    var pattern = renderer.createElement('pattern').add(renderer.defs).attr({
                        width: 1,
                        height: 1,
                        id: "image",
                        patternContentUnits: 'userSpaceOnUse'
                    });

                    renderer.image('../images/SettingsButton.svg', 0, 0, 18, 16).add(pattern);

                }
            }
        },
        chart: {
            type: 'columnrange',
            inverted: true
        },

        title: {
            text: 'Column range for ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorName))') + ' for dashboard ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.DashboardName))')
        },

        xAxis: {
            categories: dates
        },

        yAxis: {
            title: {
                text: 'Temperature ( °C )'
            }
        },

        tooltip: {
            valueSuffix: '°C'
        },

        plotOptions: {
            columnrange: {
                dataLabels: {
                    enabled: true,
                    format: '{y}°C'
                }
            }
        },

        legend: {
            enabled: false
        },

        series: [{
            name: 'Temperatures',
            data: temperatures
        }],
        exporting: {
            buttons: {
                Link: {
                    height: 24,
                    width: 24,
                    y: 3,
                    x: -20,
                    className : 'highcharts-button-box-settings',
                    onclick: function () {
                        window.location.href = '/ReportElement/EditWordCloud/'+JSON.parse('@Html.Raw(Json.Serialize(@Model.Id.ToString()))')
                    },
                }
            }
        },

    });
</script>
