@model smart_home_web.Models.ReportElements.ReportElementViewModel;
@using Domain.Core.Model.Enums

@if (Model.IsCorrect)
{
    <figure class="highcharts-figure">
        <div id="@("Columnrange"+Model.Id.ToString())"></div>
    </figure>
}
else
{
    <label class="control-label graph-label">@Model.Message <a class="btn btn-success text-center" asp-controller="ReportElement" asp-action="EditReportElement" asp-route-id="@Model.Id"><i class="fas fa-cog"></i></a></label>
}

<script>
    columnminvalues = JSON.parse('@Html.Raw(Json.Serialize(@Model.MinValues))');
    columnmaxvalues = JSON.parse('@Html.Raw(Json.Serialize(@Model.MaxValues))');
    columndates = JSON.parse('@Html.Raw(Json.Serialize(@Model.Dates))');

    let columntemperatures = [];
    for (let i = 0; i < columndates.length;i++) {
        columntemperatures.push([columnminvalues[i],columnmaxvalues[i]])
    }
    Highcharts.chart('Columnrange'+JSON.parse('@Html.Raw(Json.Serialize(@Model.Id.ToString()))'), {

        chart: {
            events: {
                load: function () {

                    var chart = this,
                        renderer = chart.renderer;
                    var pattern = renderer.createElement('pattern').add(renderer.defs).attr({
                        width: 1,
                        height: 1,
                        id: "settings_image",
                        patternContentUnits: 'userSpaceOnUse'
                    });

                    renderer.image('../images/SettingsButton.svg', 0, 0, 18, 16).add(pattern);

                }
            },
            type: 'columnrange',
            inverted: true,
        },
        title: {
            text: 'Column range for ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorName))') + ' for dashboard ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.DashboardName))')
        },

        xAxis: {
            title: {
                style: {
                    textTransform: 'uppercase'
                },
                text: 'dates'
            },
            categories: columndates
        },

        yAxis: {
            minorTickInterval: 'auto',
            title: {
                style: {
                    textTransform: 'uppercase'
                },
                text: 'values'
            },
            labels: {
                style: {
                    fontSize: '12px'
                }
            }
        },
        plotOptions: {
            columnrange: {
                dataLabels: {
                    enabled: true
                }
            },
        },

        legend: {
            enabled: false
        },

        series: [{
            name: 'Temperatures',
            data: columntemperatures
        }],
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false,
                },
                Edit: {
                    height: 24,
                    width: 24,
                    y: 3,
                    x: 4,
                    className : 'highcharts-button-box-settings',
                    onclick: function () {
                        window.location.href = '/ReportElement/EditReportElement/'+JSON.parse('@Html.Raw(Json.Serialize(@Model.Id.ToString()))')
                    },
                }
            }
        },

    });


    $('body').on('gsresizestop', '.grid-stack', function (event, ui) {
        var type = 'Columnrange';
        var result = Highcharts.charts.find(chart => chart.renderTo.id == (type + ui.id).toString());
        if (typeof result !== 'undefined') {
            result.setSize(ui.height, ui.width);
        }
        
    });
</script>
