@using Domain.Core.Model.Enums
@model smart_home_web.Models.GraphViewModel

<div id="container" style="min-width:310px; height:400px; margin:0 auto"></div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
        $('#container').highcharts({
            title: {
                text: 'Graph of measurements of a sensor with name : ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorName))'),
                x: -20 //center
            },
            subtitle: {
                text: 'Sensor type: '+ JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorType))'),
                x: -20
            },
            xAxis: {
                categories: JSON.parse('@Html.Raw(Json.Serialize(@Model.StringDates))')
            },
            yAxis: {
                title: {
                    text: JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorType))') + ' ' + JSON.parse('@Html.Raw(Json.Serialize(@Model.MeasurmentName))')
                },
            },
            tooltip: {
                formatter: function () {
                    var dates = JSON.parse('@Html.Raw(Json.Serialize(@Model.StringDates))');
                    var result = '<b>' + this.x + '</b><br>' + this.series.name + ': <b>' + this.y + ' '
                        + JSON.parse('@Html.Raw(Json.Serialize(@Model.MeasurmentName))') + '</b><br>'
                    return result +dates[this.point.index];
            }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 1
            },
            series: [{
                name: JSON.parse('@Html.Raw(Json.Serialize(@Model.SensorType))'),
                @switch (Model.MeasurmentType)
                {
                    case MeasurmentType.Int:
                        <text>
                        data: JSON.parse('@Html.Raw(Json.Serialize(@Model.IntValues))')
                        </text>
                        break;

                    case MeasurmentType.Double:
                        <text>
                        data: JSON.parse('@Html.Raw(Json.Serialize(@Model.DoubleValues))')
                        </text>
                        break;

                    case MeasurmentType.Bool:
                        <text>
                        data: JSON.parse('@Html.Raw(Json.Serialize(@Model.BoolValues))')
                        </text>
                        break;

                    case MeasurmentType.String:
                        <text>
                        data: JSON.parse('@Html.Raw(Json.Serialize(@Model.StringValues))')
                        </text>
                        break;

                    default:
                        break;
                }
            }]
        });
</script>
