@using smart_home_web.Models.History;

@model AllHistoriesViewModel;


@{
    ViewData["Title"] = "Histories";
}

<h2>Histories List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">SensorName</th>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
            <th scope="col">MeasurementUnit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var history in Model.Histories)
        {
            <tr>
                <th scope="row">@history.Id</th>
                <td>
                    @{ string id = history.SensorId.ToString(); }
                    <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId">
                        @history.SensorName
                    </a>
                </td>
                <td>@history.Date</td>
                <td>@history.Value</td>
                <td>@history.MeasurementName</td>
            </tr>
        }
    </tbody>
</table>