@using smart_home_web.Models.History;

@model AllHistoriesViewModel;


@{
    ViewData["Title"] = "Histories";
}

<h2>Histories List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">SensorId</th>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
            <th scope="col">MeasurmentUnit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var history in Model.Histories)
        {
            <tr>
                <th scope="row">@history.Id</th>
                <td>@history.SensorName</td>
                <td>@history.Date</td>
                <td>@history.Value</td>
                <td>@history.MeasurmentName</td>
            </tr>
        }
    </tbody>
</table>