@using Infrastructure.Business.DTOs;
@using Domain.Core.Model.Enums;

@model smart_home_web.Models.History.InvalidSensorsViewModel;
@{
    ViewData["Title"] = "Invalid sensors";
}

<body class="body-content">
    <div class="row text-center">
        <h2 style="color:red;" class="text-center">Invalid Sensors</h2>
        <table class="table table-dark table-hover table-responsive table-bordered text-center " id="invalidSensorTable">
            <caption>List of invalid sensors</caption>
            <thead class="bg-success">
                <tr>
                    <th scope="col" class=" text-center">
                        @{
                            var sensor = (FilterDTO)Model.FilterDTO.Clone();
                            sensor.sortState = (sensor.sortState == SortState.SensorAsc) ? SortState.SensorDesc : SortState.SensorAsc;
                        }
                        <a href="@Url.Action("InvalidSensors", "History", 
                                        sensor,
                                        null)">
                        Sensor <i class="glyphicon glyphicon-sort"></i></a>
                        
                    </th>

                    <th scope="col" class=" text-center">
                        @{
                            var date = (FilterDTO)Model.FilterDTO.Clone();
                            date.sortState = (sensor.sortState == SortState.DateAsc) ? SortState.DateDesc : SortState.DateAsc;
                        }
                        <a href="@Url.Action("InvalidSensors", "History", 
                                        date,
                                        null)">
                        Date <i class="glyphicon glyphicon-sort"></i></a>
                        
                    </th>

                    <th scope="col" class=" text-center">Value</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var history in Model.Histories)
                {
                <tr>
                    <td scope="row">
                        <a asp-controller="History" asp-action="Detail"
                           asp-route-sensorId="@history.SensorId"
                           asp-route-page="@Model.FilterDTO.CurrentPage"
                           style="display:block;">
                            @history.SensorId
                        </a>
                    </td>
                    <td>
                        <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId" style="display:block;">
                            @history.Date.DateTime.ToString("dd/MM/yyyy HH:mm:ss")
                        </a>
                    </td>
                    @{ 
                        if (history.Value.ToString() == "False")
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color:red;">
                                    Inactive
                                </a>
                            </td>
                        }
                        else if (history.Value.ToString() == "True")
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color:lightseagreen;">
                                    Active
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color: dodgerblue;">
                                    @history.Value
                                </a>
                            </td>
                        }
                    }

                </tr>
                }
            </tbody>
        </table>
        <br />
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.FilterDTO != null)
                {
                    @if (Model.FilterDTO.HasPrevious)
                    {
                <li class="page-item">

                    @{
                        var prev = (FilterDTO)Model.FilterDTO.Clone();
                        prev.CurrentPage = Model.FilterDTO.CurrentPage - 1;
                    }

                    @Html.ActionLink("Previous", "InvalidSensors", "History", null, null, null,
                                        prev,
                                        null)
                </li>
                    }

                    @for (var i = 1; i <= Model.FilterDTO.PagesCount; i++)
                    {
                        var page_i = (FilterDTO)Model.FilterDTO.Clone();
                        page_i.CurrentPage = i;

                        <li class="page-item @( i == Model.FilterDTO.CurrentPage ? "active" : "")">

                            @Html.ActionLink(i.ToString(), "InvalidSensors", "History", null, null, null,
                                        page_i,
                                        null)
                        </li>
                    }
                    @if (Model.FilterDTO.HasNext)
                    {
                        <li class="page-item">
                            @{
                                var next = (FilterDTO)Model.FilterDTO.Clone();
                                next.CurrentPage = Model.FilterDTO.CurrentPage + 1;
                            }

                            @Html.ActionLink("Next", "InvalidSensors", "History", null, null, null,
                                        next,
                                        null)
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>

</body>


