@model IEnumerable<smart_home_web.Models.History.HistoryViewModel>;
@{ 
    ViewData["Title"] = "Invalid sensors";
}

<body class="body-content">
    <div class="row text-center">
        <h2 style="color:red;">Invalid Sensors</h2>
        <br />
        <table class="table table-striped table-hover table-responsive">
            <caption>List of invalid sensors</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sensor</th>
                    <th scope="col">Date</th>
                    <th scope="col">StringValue</th>
                    <th scope="col">IntValue</th>
                    <th scope="col">DoubleValue</th>
                    <th scope="col">BoolValue</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model)
                {
                    <tr>
                        <td scope="row">@history.SensorId</td>
                        <td>@history.Date</td>
                        <td>@history.StringValue</td>
                        <td>@history.IntValue</td>
                        <td>@history.DoubleValue</td>
                        <td>@history.BoolValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


