@using Infrastructure.Business.DTOs;


@model smart_home_web.Models.History.InvalidSensorsViewModel;
@{
    ViewData["Title"] = "Invalid sensors";
}

<body class="body-content">
    <div class="row text-center">
        <h2 style="color:red;" class="text-center">Invalid Sensors</h2>
        <table class="table table-dark table-hover table-responsive table-bordered text-center " id="invalidSensorTable">
            <caption>List of invalid sensors</caption>
            <thead class="bg-success">
                <tr>
                    <th scope="col" class=" text-center">
                        <a class="menu-toggle text-center" asp-action="InvalidSensors"
                           asp-route-sortState="@ViewBag.SensorSort"
                           asp-route-CurrentPage="@Model.paginationDTO.CurrentPage"
                           asp-route-HasPrevious="@Model.paginationDTO.HasPrevious"
                           asp-route-HasNext="@Model.paginationDTO.HasNext"
                           asp-route-PageSize="@Model.paginationDTO.PageSize">
                            Sensor <i class="glyphicon glyphicon-sort"></i>
                        </a>
                    </th>

                    <th scope="col" class=" text-center">
                        <a class="menu-toggle text-center" asp-action="InvalidSensors" 
                           asp-route-sortState="@ViewBag.DateSort"
                           asp-route-CurrentPage="@Model.paginationDTO.CurrentPage"
                           asp-route-HasPrevious="@Model.paginationDTO.HasPrevious"
                           asp-route-HasNext="@Model.paginationDTO.HasNext"
                           asp-route-PageSize="@Model.paginationDTO.PageSize">
                            Date <i class="glyphicon glyphicon-sort"></i>
                        </a>
                    </th>

                    <th scope="col" class=" text-center">Value</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var history in Model.Histories)
                {
                <tr>
                    <td scope="row">
                        <a asp-controller="History" asp-action="Detail"
                           asp-route-sensorId="@history.SensorId"
                           asp-route-page="@Model.paginationDTO.CurrentPage"
                           style="display:block;">
                            @history.SensorId
                        </a>
                    </td>
                    <td>
                        <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId" style="display:block;">
                            @history.Date.DateTime.ToString("dd/MM/yyyy HH:mm:ss")
                        </a>
                    </td>
                    @{ 
                        if (history.Value.ToString() == "False")
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color:red;">
                                    Unactive
                                </a>
                            </td>
                        }
                        else if (history.Value.ToString() == "True")
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color:lightseagreen;">
                                    Active
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-controller="History" asp-action="Detail" asp-route-sensorId="@history.SensorId"
                                 style="display:block; color: dodgerblue;">
                                    @history.Value
                                </a>
                            </td>
                        }
                    }

                </tr>
                }
            </tbody>
        </table>
        <br />
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.paginationDTO != null)
                {
                    @if (Model.paginationDTO.HasPrevious)
                    {
                        <li class="page-item">

                            @{
                                var prev = (PaginationDTO)Model.paginationDTO.Clone();
                                prev.CurrentPage = Model.paginationDTO.CurrentPage - 1;
                            }
                            <a class="menu-toggle text-center page-link" asp-action="InvalidSensors"
                               asp-route-sortState="@ViewBag.SensorSort"
                               asp-route-CurrentPage="@prev.CurrentPage"
                               asp-route-HasPrevious="@prev.HasPrevious"
                               asp-route-HasNext="@prev.HasNext"
                               asp-route-PageSize="@prev.PageSize">
                                Previous
                            </a>
                        </li>
                    }

                    @for (var i = 1; i <= Model.paginationDTO.PagesCount; i++)
                    {
                        var page_i = (PaginationDTO)Model.paginationDTO.Clone();
                        page_i.CurrentPage = i;

                        <li class="page-item @( i == Model.paginationDTO.CurrentPage ? "active" : "")">
                            <a class="menu-toggle text-center page-link" asp-action="InvalidSensors"
                               asp-route-sortState="@ViewBag.SensorSort"
                               asp-route-CurrentPage="@page_i.CurrentPage"
                               asp-route-HasPrevious="@page_i.HasPrevious"
                               asp-route-HasNext="@page_i.HasNext"
                               asp-route-PageSize="@page_i.PageSize">
                                @i.ToString()
                            </a>
                        </li>
                    }
                    @if (Model.paginationDTO.HasNext)
                    {
                        <li class="page-item">
                            @{
                                var next = (PaginationDTO)Model.paginationDTO.Clone();
                                next.CurrentPage = Model.paginationDTO.CurrentPage + 1;
                            }

                            <a class="menu-toggle text-center page-link" asp-action="InvalidSensors"
                               asp-route-sortState="@ViewBag.SensorSort"
                               asp-route-CurrentPage="@next.CurrentPage"
                               asp-route-HasPrevious="@next.HasPrevious"
                               asp-route-HasNext="@next.HasNext"
                               asp-route-PageSize="@next.PageSize">
                                Next
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>

</body>


