@using smart_home_web.Models;
@model ProfileViewModel;

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
<form method="post">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input class="form-control" type="password" placeholder="••••••">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>New Password</label>
                                <input class="form-control" type="password" placeholder="••••••">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                <input class="form-control" type="password" placeholder="••••••">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="changepassword" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="app-main">
    <div class="app-main__outer">
        <div class="app-inner-layout app-inner-layout-page">
            <div class="app-inner-layout__wrapper">
                <div class="app-inner-layout__content">
                    <div class="col">
                        <div class="row">
                            <div class="col mb-3">
                                <div class="card header-button-move-up">
                                    <div class="card-body">
                                        <div class="e-profile">
                                            <div class="row">
                                                <div class="col-12 col-sm-auto mb-3">
                                                    <div class="mx-auto" style="width: 140px;">
                                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-image: url(@Model.IconPath); background-size: 130px;">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.FirstName @Model.LastName</h4>
                                                        <p class="mb-0"></p>
                                                        <input asp-for="IconFile" onchange="loadFile(event)" type="file" accept=".jpg, .jpeg, .png" id="file" class="inputfile" />
                                                        <label class="btn btn-primary wrapper" for="file">Choose a file</label>
                                                    </div>
                                                    <div class="text-center text-sm-right">
                                                        <span class="badge badge-secondary">@(User.IsInRole("Admin") ? "administrator" : "user")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                            </ul>
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <form class="form" id="profileUpdate" method="post">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>First Name</label>
                                                                            <input asp-for="FirstName" class="form-control" type="text" placeholder="FirstName" value="@Model.FirstName">
                                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Last Name</label>
                                                                            <input asp-for="LastName" class="form-control" type="text" placeholder="LastName" value="@Model.LastName">
                                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Email</label>
                                                                            <input asp-for="Email" class="form-control" type="text" placeholder="Email" value="@Model.Email">
                                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Phone Number</label>
                                                                            <input asp-for="PhoneNumber" class="form-control" type="text" placeholder="Email" value="@Model.PhoneNumber">
                                                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Button trigger modal -->
                                                        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                            Launch demo modal
                                                        </button>
                                                        <div class="row">
                                                            <div class="col d-flex justify-content-end">
                                                                <button class="btn btn-primary" id="update" type="button">Save Changes</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-3">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="px-xl-3">
                                            <button class="btn btn-block btn-secondary">
                                                <i class="fa fa-sign-out"></i>
                                                <span>Logout</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title font-weight-bold">Support</h6>
                                        <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                        <button type="button" class="btn btn-primary">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .wrapper input[type="file"] {
        position: relative;
    }

    .wrapper:before {
        font-family: 'FontAwesome';
        color: white;
        position: relative;
        left: -5px;
        content: "\f03e";
    }
</style>





<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('modal-form-create-output');
            output.src = reader.result;
            output.style.visibility = "visible";
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>

<script>
    $("#update").on("click", function () {
    
        var inputFile = $(".inputfile");
        let fd = new FormData(document.getElementById("profileUpdate"));
        fd.append('IconFile', inputFile.prop('files')[0]);
        
        debugger;
        $.ajax({
            url: '@Url.Action("Update","Profile")',
            data: fd,
            type: "post",
            contentType: false,
            processData: false,
            success: function (savingStatus) {

            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert("Error encountered while sending request");
                console.log(thrownError);
            }
        });
    });
</script>

<script>
    $("#changepassword").on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ChangePassword","Profile")',
            data: form.serialize(),
            type: "post",
            cache: false,           
            success: function (savingStatus) {

            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert("Error encountered while sending request");
                console.log(thrownError);
            }
        });
    });
</script>
