@model smart_home_web.Models.ReportElements.HeatmapViewModel;
@using Domain.Core.Model.Enums;

<link rel="stylesheet" href="~/css/heatmap.css" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id=@("Heatmap" + Model.Id.ToString())></div>
</figure>

<script>
        @{
            List<decimal?> vals = new List<decimal?>();
            List<DateTime> daysList = new List<DateTime>();
            List<string> weeksList = new List<string>();
            List<string> weekDaysList = new List<string>();
            List<string> dayOfWeekList = new List<string>();

            foreach (var c in Model.AvgSensorValuesPerDays)
            {
                vals.Add(c.AvgValue);
                daysList.Add(c.WeekDay);
                weekDaysList.Add(c.WeekDay.ToString("dd/MM/yyyy"));
            }
            for (int i = 0; i < 28; i += 7)
            {
                weeksList.Add(daysList[i].ToString("dd/MM/yyyy") + " - " + daysList[i + 6].ToString("dd/MM/yyyy") );
            }
            for (int i = 0; i < 7; i ++)
            {
                dayOfWeekList.Add(daysList[i].DayOfWeek.ToString());
            }
            decimal?[] valArray = vals.ToArray();
            string[] daysArray = weekDaysList.ToArray();
            string[] weeksArray = weeksList.ToArray();
            string[] dayOfWeekArray = dayOfWeekList.ToArray();
        }


        function getPointCategoryName(point, dimension) {
            var series = point.series,
                isY = dimension === 'y',
                axis = series[isY ? 'yAxis' : 'xAxis'];
            return axis.categories[point[isY ? 'y' : 'x']];
        }

        var arr = @Html.Raw(Json.Serialize(daysArray));
        function getDateForValue(index) {
            var currDate = '';
                for (var i = 0; i < arr.length; i++) {
                    if (i == index) {
                         currDate =  arr[i];
                    }
                }
            return currDate;
        }

        Highcharts.chart("Heatmap"+JSON.parse('@Html.Raw(Json.Serialize(@Model.Id.ToString()))'), {

            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },

            title: {
                text: 'Average value per weekday for ' + @Html.Raw(Json.Serialize(Model.SensorName))
            },

            xAxis: {
                categories:
                    [
                        @for (int i = 0; i < dayOfWeekArray.Length; i++)
                        {
                            <text>
                                @Html.Raw(Json.Serialize(dayOfWeekArray[i])) ,
                            </text>
                        }
                    ]
            },

            @{
                List<string> periods = new List<string>();
                for (int i = 0; i < 28; i += 7)
                {
                     periods.Add(days[i].ToString("dd/MM/yyy") + " - " + days[i + 6].ToString("dd/MM/yyy"));
                }
                string[] weeks = periods.ToArray();
            }

            yAxis: {
                categories:
                [
                    @for (int i = 0; i < weeksArray.Length; i++)
                    {
                        <text>
                            @Html.Raw(Json.Serialize(weeksArray[i])) ,
                        </text>
                    }
                    ],

                title: null,
                reversed: true
            },

            accessibility: {
                point: {
                    descriptionFormatter: function (point) {
                var ix = point.index + 1,
                    xName = getPointCategoryName(point, 'x'),
                    yName = getPointCategoryName(point, 'y'),
                    val = point.value;
                return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                    }
                }
            },

            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },

            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                symbolHeight: 280
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + '</b><br>' + @Html.Raw(Json.Serialize(Model.SensorName))  +
                        (this.point.value == undefined ? ' has no data' : ' has average: <b>' + this.point.value) + '</b><br> on <b>' + getPointCategoryName(this.point, 'x')  + ', ' +
                        getDateForValue(this.point.index) + '</b>';
                }
            },

            series: [{
                name: 'Average sensor values per weekday',
                borderWidth: 1,
                data: [
                    @{int h = 0;}
                    @for (int i = 0; i < 4; i++)
                    {
                        @for (int j = 0; j < 7; j++)
                        {
                            <text>
                                [@Html.Raw(Json.Serialize(j)), @Html.Raw(Json.Serialize(i)), @Html.Raw(Json.Serialize(valArray[h++]))], 
                            </text>
                        }
                    }
                ],

                dataLabels: {
                    enabled: true,
                    color: '#000000'
                }
            }],

            exporting: {
                buttons: {
                    contextButton: {
                        enabled: false,
                    }
                }
            },

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        yAxis: {
                            labels: {
                                formatter: function () {
                                    try {
                                        return this.value.charAt(0);
                                    }
                                    catch (error) {

                                    }
                                }
                            }
                        }
                    }
                }]
            }

        });
</script>

<script>
    $('body').on('gsresizestop', '.grid-stack', function (event, ui) {
        var type = 'Heatmap';
        try {
            var result = Highcharts.charts.find(chart => chart.renderTo.id == (type + ui.id).toString());
        }
        catch (error) {

        }
        if (typeof result !== 'undefined') {
            result.setSize(ui.height, ui.width);
        }
    });
</script>
