@model smart_home_web.Models.ReportElements.HeatmapViewModel;
@using Domain.Core.Model.Enums;

<link rel="stylesheet" href="~/css/heatmap.css" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
<script>
        @switch (Model.MeasurementType)
        {
            case MeasurementType.Int:
                    <text>
                    values = JSON.parse('@Html.Raw(Json.Serialize(@Model.Values))')
                    </text>
                break;

            case MeasurementType.Double:
                    <text>
                    values = JSON.parse('@Html.Raw(Json.Serialize(@Model.Values))')
                    </text>
                break;

            default:
                break;
        }
        function getPointCategoryName(point, dimension) {
            var series = point.series,
                isY = dimension === 'y',
                axis = series[isY ? 'yAxis' : 'xAxis'];
            return axis.categories[point[isY ? 'y' : 'x']];
        }

        Highcharts.chart('container', {

            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },


            title: {
                text: 'Average value per weekday for ' + @Html.Raw(Json.Serialize(Model.SensorName))
            },

            xAxis: {
                categories: []
            },

            yAxis: {
                categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                title: null,
                reversed: true
            },

            accessibility: {
                point: {
                    descriptionFormatter: function (point) {
                        var ix = point.index + 1,
                            xName = getPointCategoryName(point, 'x'),
                            yName = getPointCategoryName(point, 'y'),
                            val = point.value;
                        return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                    }
                }
            },

            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },

            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                symbolHeight: 280
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + '</b><br>' + @Html.Raw(Json.Serialize(Model.SensorName))  + 'average <b>' +
                        this.point.value + '</b><br> on <b>' + getPointCategoryName(this.point, 'y') + ' '
                         + getPointCategoryName(this.point, 'x') + '</b>';
                }
            },
            @{
                List<int> vals = new List<int>();
                foreach (var c in Model.Values)
                {
                    vals.Add(c);
                }
                int[] valArray = vals.ToArray();
            }
            //HeatmapSeriesData
            series: [{
                name: 'Sales per employee',
                borderWidth: 1,
                data: [
                @for (int i = 0; i < valArray.Length; i++)
                {
                    @for (int j = 0; j < valArray.Length; j++)
                    {
                        //if (valArray[i] != 0)
                        //{
                            <text>
                                [@Html.Raw(Json.Serialize(i)), @Html.Raw(Json.Serialize(j)), @Html.Raw(Json.Serialize(valArray[i]))],
                            </text>

                        //}
                        //else
                        //{
                        //    <text>
                        //       [i, j, 0],
                        //    </text>
                        //}
                    }
                }
                                ],

                @{ 
                    #region working square heatmap
                    //    data: [
                    //@for (int i = 0; i < valArray.Length; i++)
                    //{
                    //    @for (int j = 0; j < valArray.Length; j++)
                    //    {
                    //        if (valArray[i] != 0)
                    //        {
                    //            <text>
                    //                [@Html.Raw(Json.Serialize(i)), @Html.Raw(Json.Serialize(j)), @Html.Raw(Json.Serialize(valArray[i]))],
                    //            </text>

                    //        }
                    //        else
                    //        {
                    //            <text>
                    //                [i, j, 0],
                    //            </text>
                    //        }
                    //    }
                    // }
                    //                ],
                    #endregion
                }
                
                dataLabels: {
                    enabled: true,
                    color: '#000000'
                }
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        yAxis: {
                            labels: {
                                formatter: function () {
                                    return this.value.charAt(0);
                                }
                            }
                        }
                    }
                }]
            }

        });
    console.log("Hi!");
    console.log(@for (int i = 0; i < valArray.Length; i++)
                {
                    <text>
                        @Html.Raw(Json.Serialize(valArray[i])),
                    </text>
                });

</script>
