@using Infrastructure.Business.DTOs;
@model smart_home_web.Models.PaginationViewModel;


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.filterDTO != null)
        {
                <li class="page-item @( !Model.filterDTO.HasPrevious ? "disabled" : "" )">
                    @{
                        var prev = (FilterDTO)Model.filterDTO.Clone();
                        prev.CurrentPage = Model.filterDTO.CurrentPage - 1;
                    }
                    <a asp-controller="@Model.controller" asp-action="@Model.action"
                            asp-route-filterDTO="@prev" class="page-link">Previous</a>
                </li>

            @for (var i = 1; i <= Model.filterDTO.PagesCount; i++)
            {
                <li class="page-item">
                    @{ 
                        var page_i = (FilterDTO)Model.filterDTO.Clone();
                        page_i.CurrentPage = i;
                    }
                    <a asp-controller="@Model.controller" asp-action="@Model.action"
                       asp-route-filterDTO="@page_i" class="page-link">@i.ToString()</a>
                </li>
            }

                <li class="page-item @( !Model.filterDTO.HasNext ? "disabled" : "" )">
                    @{
                        var next = (FilterDTO)Model.filterDTO.Clone();
                        next.CurrentPage = Model.filterDTO.CurrentPage + 1;
                    }
                    <a asp-controller="@Model.controller" asp-action="@Model.action"
                       asp-route-filterDTO="@next" class="page-link">Next</a>
                </li>
        }
    </ul>
</nav>
