<style>
    .modal-backdrop.in {
        opacity: 0.3 !important;
    }
</style>

<div class="modal" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div id="modal-delete-confirm" style="display:none;">
    <a class="btn btn-primary" id="modal-delete-button" data-element-id="">Delete</a>
    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
</div>

<div class="no-elements-row" style="display:none;">
    <h2>No Elements</h2>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var currentElement = null;
    var elementName = null;
    const modal = $("#modalWindow");
    const modalBody = modal.find(".modal-body");
    const allElementsContainer = $(".all-elements-container");
    const NoElementsRow = $(".no-elements-row").detach();
    allElementsContainer.before(NoElementsRow);

    $(".element-edit").click(ElementEdit);
    $(".element-create").click(ElementCreate);
    $(".element-delete").click(ElementDelete);
    modal.on('hidden.bs.modal', ModalCleaning);

    NoElementsDisplay();
    function NoElementsDisplay() {
        let row = $(".no-values-row");
        if (allElementsContainer.children().length > 0) {
            row.hide();
        } else {
            row.show();
        }
    }

    function HideModal() {
        modal.modal("hide");
    }

    function ModalCleaning() {
        modalBody.empty();
        modal.find(".modal-title").empty();
    }

    function ElementEdit() {
        currentElement = $(this).closest(".element-container");
        HideModal();
        $.ajax({
            url: '@Url.Action("Edit")',
            data: { id: currentElement.data("element-container-id") },
            beforeSend: function () {
                ModalCleaning();
                modal.fadeIn(600);
                return true;
            },
            success: function (data) {
                modal.find(".modal-title").text("Edit" + elementName);
                modalBody.prepend(data);
                modalBody.on("submit", ".modal-form-edit", ModalFormEdit);
                modalBody.on("click", ".back-to-list", HideModal);
                modal.modal("show");
            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    function ModalFormEdit() {
        event.preventDefault();
        var inputFile = $(this).find(".modal-form-file");
        var form = document.getElementById($(this).attr("id"));
        var fd = new FormData(form);
        fd.append('IconFile', inputFile.prop('files')[0]);

        $.ajax({
            url: '@Url.Action("Edit")',
            method: "POST",
            processData: false,
            contentType: false,
            data: fd,
            beforeSend: function () {
                HideModal();
                currentElement.hide(600);
                return true;
            },
            success: function (data) {
                currentElement.replaceWith(data);
                currentElement.show(600);
                allElementsContainer.on("click", ".element-delete", ElementDelete);
                allElementsContainer.on("click", ".element-edit", ElementEdit);
                //tableBody.on("click", ".fa-eye-slash", toggleEyeIcon);
                //tableBody.on("click", ".input-set-active", SetActiveAjax);
                NoElementsDisplay();
            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    function ElementCreate() {
        HideModal();
        $.ajax({
            url: '@Url.Action("Create")',
            beforeSend: function () {
                ModalCleaning();
                modal.fadeIn(600);
                return true;
            },
            success: function (data) {
                modal.find(".modal-title").text("Create" + elementName);
                modalBody.prepend(data);
                modalBody.on("submit", ".modal-form-create", ModalFormCreateSubmit);
                modalBody.on("click", ".back-to-list", HideModal);
                modal.modal("show");
            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    function ModalFormCreate() {
        event.preventDefault();
        var inputFile = $(this).find(".modal-form-file");
        var form = document.getElementById($(this).attr("id"));
        var fd = new FormData(form);
        fd.append('IconFile', inputFile.prop('files')[0]);

        $.ajax({
            url: '@Url.Action("Create")',
            method: "POST",
            processData: false,
            contentType: false,
            data: fd,
            beforeSend: function () {
                HideModal();
                return true;
            },
            success: function (data) {
                allElementsContainer.prepend(data);
                allElementsContainer.on("click", ".element-delete", ElementDelete);
                allElementsContainer.on("click", ".element-edit", ElementEdit);
                NoElementsDisplay();
            },
            error: function (res) {
                console.log(res);
            }
        });
    }

    function ElementDelete() {
        currentElement = $(this).closest(".element-container");
        modal.find(".modal-title").text("Are you sure ?");
        $("#modal-delete-confirm").clone().prependTo(modalBody);
        $("#modal-delete-confirm").show();
        $("#modal-delete-button").data("element-id", currentElement.data("element-container-id"));
        modalBody.on("click", "#modal-delete-button", ModalFormDelete);
        modal.fadeIn(600);
        modal.modal("show");
    }

    function ModalFormDelete() {
        $.ajax({
            url: '@Url.Action("Delete")',
            data: { id: $(this).data("element-id") },
            beforeSend: function () {
                HideModal();
                currentElement.hide(600, function () {
                    currentElement.remove();
                    NoElementsDisplay();
                });
                return true;
            },
            error: function (res) {
                console.log(res);
            }
        });
    }
    
</script>