@model smart_home_web.Models.SensorViewModel.SensorViewModel;

<tr class="sensor-row" data-sensor-row-id="@Model.Id">
    <td>
        <label class="rocker rocker-small">
            <input id="@Model.Id.ToString()" type="checkbox" @Html.Raw(Model.IsActive ? "checked" : " ")>
            <span class="switch-left">On</span>
            <span class="switch-right">Off</span>
        </label>
    </td>
    <td>
        @if (Model.IconPath != null)
        {
            <img src="@Model.IconPath" width="64" height="64" />
        }
        else
        {
            <p>No image was added</p>
        }
    </td>
    <td class="text-left">
        <div id="sensor-details">
            <h5>Name: @Model.Name</h5>
            <h5>Type: @Model.SensorTypeName</h5>
        </div>
        <i class="fa fa-eye-slash" onclick="toggleAdditionalInfo(this);" style="cursor: help;"></i>
        <div class="sensor-details-additional" style="display: none;">
            <h5>Created: @Model.CreatedOn.Value.UtcDateTime.ToString("dd/MM/yyyy on HH:mm")</h5>
            <h5>Comment: @Model.Comment</h5>
            <h5>
                Activated: <i class="fa @(Model.IsActive ? "fa-check-circle" : "fa-times-circle") sensor-activated"></i>
            </h5>
            <h5>Token: @Model.Token</h5>

        </div>
    </td>

    <td>
        <div class="col-xs-3">
            <a class="btn btn-sm btn-success text-center"
               asp-controller="History"
               asp-action="Graph"
               asp-route-sensorId="@Model.Id"
               asp-route-days="99999">
                <i class="fas fa-chart-bar"></i>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-sm btn-info text-center"
                   asp-action="Update"
                   asp-route-sensorId="@Model.Id">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger text-center sensor-delete" data-sensorId="@Model.Id">
                    <i class="fa fa-trash"></i>
                </a>
            }
        </div>
    </td>
</tr>