@model smart_home_web.Models.SensorViewModel.SensorViewModel;

<li class="list-group-item element-container" data-element-container-id="@Model.Id.ToString()">
    <div class="widget-content p-0">
        <div class="widget-content-wrapper">
            <div class="widget-content-left mr-4 ml-3">

                <div class="input-set-active @Html.Raw(Model.IsActive ? "toggle-shadow" : " ")"
                     id="@Model.Id.ToString()">
                    <input type="checkbox" class="" @Html.Raw(Model.IsActive ? "checked" : " ") data-toggle="toggle">
                </div>
            </div>
            <div class="widget-content-left mr-4">
                @if (Model.IconPath != null)
                {
                    <img src="@Model.IconPath" width="52" height="52"/>
                }
                else
                {
                    <p class="text-center">No image <br /> was added</p>
                }
            </div>
            <div class="widget-content-left" style="width:250px;">
                <div class="widget-heading">
                    @Model.Name
                </div>
                <div class="widget-subheading">
                    @Model.SensorTypeName
                </div>
            </div>
            <div class="mr-auto">
                <div class="widget-content-right"
                     style="
                      text-align: right;
                      display: inline-block;
                      margin-left: auto;">
                    <div class="text-right opacity-6"><b>Created:</b></div>
                    <div class="text-right opacity-6"><b>Comment:</b></div>
                    <div class="text-right opacity-6"><b>Token:</b></div>
                </div>
                <div class="text-left ml-3"
                     style="display: inline-block;
                     margin-right: auto;">
                    <div>@Model.CreatedOn.Value.UtcDateTime.ToString("dd/MM/yyyy on HH:mm")</div>
                    <div>
                        @{
                            if (!string.IsNullOrEmpty(@Model.Comment))
                            {
                                @Model.Comment
                            }
                            else
                            {
                                <span style="color:darkgrey">None</span>
                            }
                        }
                    </div>
                    <div>@Model.Token</div>
                </div>
            </div>
            <div class="pull-right">
                <div role="group" class="btn-group">
                    <a class="btn-shadow btn btn-primary"
                       asp-controller="History"
                       asp-action="Graph"
                       asp-route-sensorId="@Model.Id"
                       asp-route-days="99999">
                        <i class="text-white pe-7s-graph2" style="font-size:20px"></i>
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-shadow btn-info element-edit">
                            <i class="text-white pe-7s-config" style="font-size:20px"></i>
                        </a>
                        <a class="btn btn-shadow btn-warning element-notif"
                           asp-controller="Toast"
                           asp-action="Index"
                           asp-route-sensorId="@Model.Id">
                            <i class="text-white pe-7s-bell" style="font-size:20px;"></i>
                        </a>
                        <a class="btn btn-shadow btn-danger element-delete p-0 pl-2 pr-2">
                            <i class="text-white pe-7s-close" style="font-size:29px;"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</li>
