@using smart_home_web.Models.SensorViewModel;

@model IEnumerable<SensorViewModel>

@{
    ViewData["Title"] = "Sensors";
}
<link href="~/css/OnOff.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h2>Sensors List</h2>
@if (User.Identity.IsAuthenticated)
{
    <div class="button-center">
        <a asp-action="Create" class="btn btn-success">Add new sensor</a>
    </div>
}
<table class="table text-center"  data-save-url="@Url.Action("SetActive", "Sensor")">
    <thead>
        <tr>
            <th scope="col">On/Off</th>
            <th scope="col">Icon</th>
            <th scope="col">Sensor</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
            <tr class="sensor-row">
                <td>
                    <label class="rocker rocker-small">
                        <input id=@("OnOff" + sensor.Id) data-save-sensorid="@sensor.Id" type="checkbox" @Html.Raw(sensor.IsActive ? "checked" : " ")>
                        <span class="switch-left">On</span>
                        <span class="switch-right">Off</span>
                    </label>
                </td>
                <td>
                    @if (sensor.IconPath != null)
                    {
                        <img src="@sensor.IconPath" width="64" height="64" />
                    }
                    else
                    {
                        <p>No image was added</p>
                    }
                </td>
                <td class="text-left">
                    <div id="sensor-details">
                        <h5>Name: @sensor.Name</h5>
                        <h5>Type: @sensor.SensorTypeName</h5>
                    </div>
                    <i class="fa fa-eye-slash" onclick="toggleAdditionalInfo(this);" style="cursor: help;"></i>
                    <div class="sensor-details-additional" style="display: none;">
                        <h5>Created: @sensor.CreatedOn.Value.UtcDateTime.ToString("dd/MM/yyyy on HH:mm")</h5>
                        <h5>Comment: @sensor.Comment</h5>
                        <h5>
                            Activated: <i class="fa @(@sensor.IsActive ? "fa-check-circle" : "fa-times-circle") sensor-activated"></i>
                        </h5>
                        <h5>Token: @sensor.Token</h5>

                    </div>
                </td>

                <td>
                    <div class="col-xs-3">
                        <a class="btn btn-sm btn-success text-center"
                           asp-controller="History"
                           asp-action="Graph"
                           asp-route-sensorId="@sensor.Id"
                           asp-route-days="99999">
                            <i class="fas fa-chart-bar"></i>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-sm btn-info text-center"
                               asp-action="Update"
                               asp-route-sensorId="@sensor.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger text-center sensor-delete" data-sensorId="@sensor.Id">
                                <i class="fa fa-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function toggleAdditionalInfo(e) {
        var subRow = e.nextElementSibling;
        subRow.style.display = subRow.style.display === 'none' ? 'inherit' : 'none';
    }

    $('.fa-eye-slash').click(function () {
        $(this).toggleClass('fa fa-eye');
        $(this).toggleClass('fa fa-eye-slash');
    });

    $('input[id^="OnOff"]').click(function () {
        $.ajax({
            type: 'Post',
            url: $("table").data("save-url"),
            data: { id: $(this).data("save-sensorid") },
            beforeSend: function () {
                $(".sensor-activated").toggleClass("fa-check-circle fa-times-circle");
            },
            success: function () {
                console.log('changed');
            }
        });
    });
    

    $(".sensor-delete").click(function () {
        if (confirm("Are you sure?")) {
            let parent = $(this).closest(".sensor-row");
            $.ajax({
                url:  '@Url.Action("Delete","Sensor")',
                data: { sensorId: $(this).data("sensorid") },
                beforeSend: function () {
                    parent.hide(800, function () {
                        parent.remove();
                    })
                    return true;
                }
            });
        }
    });


</script>