@using smart_home_web.Models.SensorViewModel;

@model IEnumerable<SensorViewModel>

@{
    ViewData["Title"] = "Sensors";
}

<h2>Sensors List</h2>
@if (!User.Identity.IsAuthenticated)
{
    <div class="button-center">
        <a asp-action="Create" class="btn btn-success">Add new sensor</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col">Created on</th>
            <th scope="col">Sensor Type</th>
            <th scope="col">Activated</th>
            <th scope="col">Icon</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
            <tr>
                <th scope="row">@sensor.Id</th>
                <td>@sensor.Name</td>
                <td>@sensor.Comment</td>
                <td>@sensor.CreatedOn</td>
                <td>@sensor.SensorTypeName</td>
                <td>@sensor.IsActivated</td>
                <td>
                    @if (sensor.IconPath != null)
                    {
                        <img src="@sensor.IconPath" width="64" height="64" />
                    }
                    else
                    {
                        <p>No image was added</p>
                    }
                </td>
                <td><a class="btn btn-success text-center" asp-controller="History" asp-action="Graph" asp-route-sensorId="@sensor.Id" asp-route-days="99999"><i class="fa fa-bar-chart"></i></a></td>
            </tr>
        }
    </tbody>
</table>
