@using smart_home_web.Models.SensorViewModel;

@model IEnumerable<SensorViewModel>

@{
    ViewData["Title"] = "Sensors";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h2>Sensors List</h2>
@if (User.Identity.IsAuthenticated)
{
    <div class="button-center">
        <a asp-action="Create" class="btn btn-success">Add new sensor</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Icon</th>
            <th scope="col">Sensor</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
            <tr>
                <th scope="row">@sensor.Id</th>
                <td>
                    @if (sensor.IconPath != null)
                    {
                        <img src="@sensor.IconPath" width="64" height="64" />
                    }
                    else
                    {
                        <p>No image was added</p>
                    }
                </td>
                <td>
                    <div id="sensor-details">
                        <h5>Name: @sensor.Name</h5>
                        <h5>Type: @sensor.SensorTypeName</h5>
                    </div>
                    <i class="fa fa-thumbs-up" onclick="toggleAdditionalInfo(this);" style="cursor: help;"></i>
                    <div class="sensor-details-additional" style="display: none;">
                        <h5>Created: @sensor.CreatedOn</h5>
                        <h5>Comment: @sensor.Comment</h5>
                        <h5>Activated: @sensor.IsActivated</h5>
                        <h5>Token: @sensor.Token</h5>
                    </div>
                </td>

                <td><a class="btn btn-success text-center" asp-controller="History" asp-action="Graph" asp-route-sensorId="@sensor.Id" asp-route-days="99999"><i class="fa fa-bar-chart"></i></a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    function toggleAdditionalInfo(e) {
        var subRow = e.nextElementSibling;
        subRow.style.display = subRow.style.display === 'none' ? 'inherit' : 'none';
    }

    $('.fa-thumbs-up').click(function () {
        $(this).toggleClass('fa fa-thumbs-down');
        $(this).toggleClass('fa fa-thumbs-up');
    });
</script>